<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
 <h1> Team Name: <%=@name%> </h1>
 <p> <strong>Coach:</strong> <%=@coach%> </p>
 <p> <strong>Point Guard:</strong> <%=@pg%> </p>
 <p> <strong>Shooting Guard:</strong> <%=@sg%> </p>
 <p> <strong>Power Forward:</strong> <%=@pf%> </p>
 <p> <strong>Small Forward:</strong> <%=@sf%> </p>
 <p> <strong>Center:</strong> <%=@c%> </p>
 


 </body>
</html>


